<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liste des articles</title>
</head>
<body>
    <form action="" method="get">
        <input type="text" name="search" placeholder="Recherche">
        <button type="submit">Rechercher</button>
    </form>
    <h1>Liste des articles</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
        {% empty %}
            <li>Aucun article trouvé.</li>
        {% endfor %}
    </ul>
</body>
</html>